body {
  background-color: aliceblue;
}


h1 {
    text-align: center;
    color:#39CCCC;
    font-family: 'Source Code Pro', monospace;
    margin-top: 1em;
}

  #main {
    min-height: 100%;
    padding: 0;
  }

  .column_one {
    width: 50%;
    height: 100%;
    float: left;
  }

  .column_two {
    text-align: center;
    font-size: larger;
    margin-top: 1em;
    width: 50%;
    height: 100px;
    float: left;
  }

  .image {
    height: 300px;
    width: 500px;
  }
